---
import Layout from "../layouts/BlogPost.astro";
---

<body class="font-Atkinson max-w-prose m-auto px-4 py-4">
  <Layout
    title="About Me"
    description="Lorem ipsum dolor sit amet"
    pubDate={new Date("February 27 2024")}
    heroImage="/blog-placeholder-about.jpg"
  >
    <p>
      I'm Franco Vacirca from Argentina 🇦🇷
      <p>
        currently self-studying Web Develpment and hopping to apply my knowledge
        on my future for my professional carrer
      </p>
    </p>
  </Layout>
</body>
